*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    color: $body-color;
    min-width: $container-min-width;
    font: #{$font-size-base}/#{$line-height-base} $base-font-family;
    margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 10px;
}
