*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    color: $body-color;
    min-width: $container-min-width;
    font: #{$font-size-base}/#{$line-height-base} $base-font-family;
    margin: 0;

    --swiper-theme-color: #{$secondary};
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
    line-height: $line-height-base;
    margin: 0 0 10px;
}

h1,
.h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

h2,
.h2 {
    font-size: 24px;
}

h3,
.h3 {
    font-size: 18px;
}

p {
    margin: 0 0 16px;
}

img {
    vertical-align: top;
    border: none;
}

strong {
    font-weight: 600;
}

table {
    color: #5D5C67;
    width: 100%;
    text-align: center;
    border-top: 1px solid #c4c5da;
    border-bottom: 1px solid #c4c5da;

    th {
        background: #f7f7f7;
        letter-spacing: 0.04em;
        font-weight: 600;

        span {
            display: block;
            font-weight: 400;
        }
    }

    tr {
        td,
        th {
            height: 60px;
            padding: 14px 5px;
            border-bottom: 1px solid #c4c5da;

            + td,
            + th {
                border-left: 1px solid #c4c5da;
            }
        }
    }
}
